# {{ labels['api_reference'] }}

{% if description %}
## {{ labels['overview'] }}

{{ description }}
{% endif %}

{% if modules %}
## {{ labels['modules'] }}

{% for module in modules %}
### {{ module.name }}

{% if module.description %}
{{ module.description }}
{% endif %}

{% if module.classes %}
#### {{ labels['classes'] }}

{% for cls in module.classes %}
##### `{{ cls.name }}`

{% if cls.bases %}
**{{ labels['inheritance'] }}**: {{ cls.bases | join(', ') }}
{% endif %}

{% if cls.description %}
{{ cls.description }}
{% endif %}

{% if cls.methods %}
**{{ labels['methods'] }}**:

| 方法 | 参数 | 返回值 | 描述 |
|------|------|--------|------|
{% for method in cls.methods %}
| `{{ method.name }}` | {{ method.params }} | `{{ method.return_type }}` | {{ method.description }} |
{% endfor %}
{% endif %}

{% endfor %}
{% endif %}

{% if module.functions %}
#### {{ labels['functions'] }}

| 函数 | 参数 | 返回值 | 描述 |
|------|------|--------|------|
{% for func in module.functions %}
| `{{ func.name }}` | {{ func.params }} | `{{ func.return_type }}` | {{ func.description }} |
{% endfor %}
{% endif %}

{% endfor %}
{% endif %}
